# package directories
node_modules
jspm_packages

# Serverless directories
.serverless

# Config
.env

# Test artifacts
coverage
*.snap

# Build artifacts
.build

# Files prettier can't understand anyway
LICENSE
.env.example
.eslintignore
.gitattributes
.gitignore
.prettierignore

# Build artifacts
.build