# Welcome to Serverless!
#
# This file is the main config file for your service.
# For full config options, check the docs:
#    docs.serverless.com

service: dignat-harvest-report-lambda

provider:
  name: aws
  runtime: nodejs8.10
  region: eu-west-1

functions:
  hours:
    handler: src/index.hours
    events:
      - http:
          path: /${env:SECRET_URL_SLUG}
          method: get
    environment:
      HARVEST_ACCESS_TOKEN: ${env:HARVEST_ACCESS_TOKEN}
      HARVEST_ACCOUNT_ID: ${env:HARVEST_ACCOUNT_ID}
  hoursCsv:
    handler: src/index.hoursCsv
    events:
      - http:
          path: /${env:SECRET_URL_SLUG}.csv
          method: get
    environment:
      HARVEST_ACCESS_TOKEN: ${env:HARVEST_ACCESS_TOKEN}
      HARVEST_ACCOUNT_ID: ${env:HARVEST_ACCOUNT_ID}
  rootPath:
    handler: src/index.root
    events:
      - http:
          path: /
          method: get

plugins:
  - serverless-offline
  - serverless-dotenv-plugin
