# Welcome to Serverless!
#
# This file is the main config file for your service.
# For full config options, check the docs:
#    docs.serverless.com

service: harvest-report-lambda

provider:
  name: aws
  runtime: nodejs12.x
  region: eu-west-1

functions:
  hours:
    handler: src/index.hours
    events:
      - http:
          path: /${self:custom.dotenvVars.SECRET_URL_SLUG}
          method: get
    environment:
      HARVEST_ACCESS_TOKEN: ${self:custom.dotenvVars.HARVEST_ACCESS_TOKEN}
      HARVEST_ACCOUNT_ID: ${self:custom.dotenvVars.HARVEST_ACCOUNT_ID}
  rootPath:
    handler: src/index.root
    events:
      - http:
          path: /
          method: get

package:
  exclude:
    - .build/**
    - .github/**
    - .vscode/**
    - examples/**
    - .env
    - .env.example
    - .eslintignore
    - .eslintrc.json
    - .gitattributes
    - .prettierignore
    - .prettierrc.json
    - CONTRIBUTING.md
    - "**/*.test.js"
    - "**/__mocks__/*.*"
    - "**/__snapshots__/*.*"

plugins:
  - serverless-offline

custom:
  # Do this if you only want to load env vars into the Serverless environment
  # This will make env vars available here and in any Serverless plugins
  dotenvVars: ${file(src/load-dotenv-into-serverless-yml.js)}
