# Welcome to Serverless!
#
# This file is the main config file for your service.
# For full config options, check the docs:
#    docs.serverless.com

service: harvest-report-lambda

provider:
  name: aws
  runtime: nodejs12.x
  region: eu-west-1

functions:
  hours:
    handler: src/index.hours
    events:
      - http:
          path: /${env:SECRET_URL_SLUG}
          method: get
    environment:
      HARVEST_ACCESS_TOKEN: ${env:HARVEST_ACCESS_TOKEN}
      HARVEST_ACCOUNT_ID: ${env:HARVEST_ACCOUNT_ID}
  rootPath:
    handler: src/index.root
    events:
      - http:
          path: /
          method: get

package:
  exclude:
    - .github/**
    - .vscode/**
    - examples/**
    - .env.example
    - .eslintignore
    - .eslintrc.json
    - .gitattributes
    - .prettierignore
    - .prettierrc.json
    - CONTRIBUTING.md
    - "**/*.test.js"
    - "**/__mocks__/*.*"
    - "**/__snapshots__/*.*"

plugins:
  - serverless-offline
  - serverless-dotenv-plugin
